#timeline {
  height: 60px;
  background: #FFF;
  display: flex;
  justify-content: space-around ;
  align-items: center;
}

#map {
  height: calc(100vh - 60px);
}

.pointer {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 4px;
}

.periode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
  color: #000;
}

#antiquite {
  // background-image: url("../../../assets/vase.svg");
  // width: 25px;
}

#moderne {
  // background-image: url("../../../assets/city.svg");
  // width: 25px;
}

#romaine {
  // background-image: url("../../../assets/casque-romain.svg");
  // width: 25px;
}

